.search-input-form{
    width: 80%;
    background: #f9f7fe;
    border-radius: 6px;
    border: none;
    padding: 15px 20px;
}

body{
    background: #f9f7fe;
        font-family: "Roboto", sans-serif;
        font-weight: 700;
        font-style: normal;
      }


a{
    color: deeppink;
}

strong{
    color: deeppink;
}

.submit-form-button{
    padding: 15px 30px;
    background: rgb(152, 71, 244);
    color: white;
    border-radius: 6px;
    border: none;
    margin-left: 5px;
}

.weather{
    background: white;
    max-width: 600px;
    margin: 45px auto;
    box-shadow: rgba(65, 50, 100, 0.08);
    padding: 30px;
    border-radius: 16px;
}

.weather-app-city{
    font-size: 48px;
}
.weather-app-data{
    display: flex;
    justify-content: space-between;
}

.weather-app-temperature-container{
    display: flex;
    justify-content: right;
    margin-top: 40px;
}

.weather-app-icon{
    font-size: 40px;
}

.weather-app-temperature{
    font-size: 68px;
}

.weather-app-city{
    margin-top: 40px;
}

.weather-app-details{
    color: rgba(39, 33, 66, 0.4);
    font-size: 16px;
    margin-top: 40px;
    margin-bottom: 80px;
}
.weather-app-data{
    border-top: 2px solid #f9f7fe;
    padding: 20px auto;
    margin: 40px auto;
    border-bottom: 2px solid #f9f7fe;
    padding: 20px auto;
    margin: 40px auto;
}
